.popup__switch {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.popup__link {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.popup__link:hover {
  opacity: 0.6;
}

