.card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card__like-button:hover:not(:disabled) {
  opacity: 0.6;
}

.card__like-button:disabled {
  cursor: not-allowed;
}

.like_container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 21px;
  flex-shrink: 0;
}

.likes_counter { 
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  display: block;
  margin-top: 3px;
  min-width: 21px;
  min-height: 13px;
}